.logo{
    width: 100%;
    display: flex;
    justify-content: center;
}
header{
    background-color: rgb(3, 15, 31);
    width: 100%;
    display: flex;
}
.doc{
  display: flex;
}
.navbar{
  overflow: hidden;
  background-color: rgb(30, 254, 210);
}
.navbar a{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar a:hover{
  background-color: rgb(3, 15, 31);
  color: aliceblue;
}
.img{
  display: flex;
  width: 100%;
  padding: 20px;
}
.izo{
  height: 470px;
}
.izi{
  height: 400px;
}
.screen{
  height: 450px;
}
.form{
  background-color: rgb(255, 255, 255);
  padding: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 5px solid rgb(30, 254, 210);

}
footer{
  padding: 20px;
  text-align: center;
  background: rgb(16, 15, 64);
  display: flex;
  justify-content: center;
}
.sale{
  position: absolute;
  display: flex;
  height: 200px;
  margin: 250px 0px 0px 200px;
}
.tet{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}
.foot{
  color: rgb(203, 197, 197);
  text-align: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
}
